.ipynb_checkpoints
__pycache__
.dccache
**/.dccache
/geopandas/Dados/Mapas
/geopandas/Dados/Censo 2010
/geopandas/Dados/Vegetação e Uso do Solo
/geopandas/Curso 2/Bairros (RJ) gerado.html
/geopandas/Curso 2/Folium Marcadores Clusterizados.html
/geopandas/Curso 2/Folium Marcadores gerado.html
